body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .container {
    margin: 20px;
  }
  button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
  }
  img {
    width: 300px;
    height: auto;
    margin: 20px;
  }
  #favorites-section img {
    margin: 5px;
  }
  

  #favorites-section {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #favorites-section p {
    margin: 20px auto;
    font-size: 18px;
    color: #555;
  }