/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  text-align: center;
}

.container {
  margin: 20px;
}

/* Card styling */
.card {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Image styling */
img {
  width: 300px;
  height: auto;
  margin: 20px;
}

#favorites-section img {
  /* width: 100%; 
  height: auto; */
  margin: 0; 
}

#favorites-section {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
}

#favorites-section.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.btn-light-custom {
  background-color: red;
  color: black;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}

.btn-light-custom:hover {
  color: red;
  border-color: red;
}

/* Slider Container */
#breed-image-slider {
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

/* Carousel Wrapper */
.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Carousel Images */
.carousel-img {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Dots Container */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}